/* Removes unwanted styling from the page */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  max-width: 100%;
}

/* Write your code below this */
html {
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 26px 60px;
}

a {
  color: black;
}

li {
  display: inline-block;
  list-style-type: none;
  margin: 0 12px;
}

.hero {
  background-image: url("./images/hero.png");
  height: 500px;
  padding-top: 219px;
  padding-left: 103px;
}

h1 {
  font-size: 36px;
  margin-bottom: 15px;
}

button {
  margin-top: 35px;
  padding: 12px 30px;
  background-color: #52647e;
  color: white;
  border-radius: 10px;
}

.journey {
  background: #618379;
  padding: 57px 0;
}

h2 {
  color: white;
  padding: 32px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 57px;
}

.journey-list {
  display: flex;
  width: 80%;
  margin: 0 10%;
  justify-content: space-between;
}

.journey-card {
  width: 30%;
  background-color: white;
  padding: 25px;
  border-radius: 40px;
  color: gray;
}

.journey-image {
  border-radius: 25px;
  margin-bottom: 25px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  color: black;
  margin-bottom: 12px;
}

footer {
  background-color: #333232;
  text-align: center;
  color: white;
  padding: 30px;
}

.custom-section {
  padding: 0 256px 131px 256px;
}

.custom-section--title {
  color: black;
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  padding: 66px 0 56px 0;
}

.custom-section--description {
  text-align: center;
}

.my-goals {
  background-color: #d9d9d9;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }  

  .custom-section { 
    padding: 0 56px 131px 56px;
  } 

  .journey-list {
    flex-direction: column; 
    gap: 60px;
  }

  .journey-card {
    width: 100%;
  }


}
